<html>
<head>
    <title>Demo</title>
</head>
<body>


<div id="result"></div>

<script id="template-menu" type="text/ejs">
  <menu>
      <header><%= header %></header>
      <ul>
      <% items.forEach(function (item) { %>
          <% // note the raw inclusion here using '-' instead if "=" %>
          <li><%- $.template('item', item) %></li>
      <% }) %>
      </ul>
  </menu>
</script>

<script data-id="item" type="text/ejs">
    <% if (ctxt) { %>
        <item action="<%= id %>" id="<%= id %>"><%= this.label || id %></item>
    <% } else { %>
        -
    <% } %>
</script>


<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script src="https://rawgit.com/evaisse/jquery-template/master/jquery.template.js"></script>
<!-- <script src="./jquery.template.js"></script> -->
<script type="text/javascript">
var payload = {
    "header": "SVG Viewer",
    "items": [
        {"id": "Open"},
        {"id": "OpenNew", "label": "Open New"},
        null,
        {"id": "ZoomIn", "label": "Zoom In"},
        {"id": "ZoomOut", "label": "Zoom Out"},
        {"id": "OriginalView", "label": "Original View"},
        null,
        {"id": "Quality"},
        {"id": "Pause"},
        {"id": "Mute"},
        null,
        {"id": "Find", "label": "Find..."},
        {"id": "FindAgain", "label": "Find Again"},
        {"id": "Copy"},
        {"id": "CopyAgain", "label": "Copy Again"},
        {"id": "CopySVG", "label": "Copy SVG"},
        {"id": "ViewSVG", "label": "View SVG"},
        {"id": "ViewSource", "label": "View Source"},
        {"id": "SaveAs", "label": "Save As"},
        null,
        {"id": "Help"},
        {"id": "About", "label": "About Adobe CVG Viewer..."}
    ]
};



$('[type="text/ejs"]').template(); // compile DOM template tags
$("#result").template('template-menu', payload); // replate #result-container with rendered template as string
$.template(); // fetch a dictonnary of all registered templates
$.template.compile(document.getElementById('template-menu').innerHTML); // low-level template compilation method
$.template('template-menu', payload); // return rendered template as string
$.template('template-menu')(payload); // return a given compiled template, same as above
</script>